extends layout

block head-javascripts

block content
  div.tasklist-div.ui-widget
    div(style='text-align: left')
      h2 This is my list!
    button#create-new-task New
    div#task-list
  a(href='/') Home
  div#create-new-task-dialog(title='New task')
    form#create-new-task-form
      fieldset
        label(for='title') Title (required)
        input#new-task-title(type='text', name='title', maxlength='25', required)
        label(for='dateDue') Due date (required)
        input#new-task-due-date-picker(name='dateDue', required)
        label(for='notes') Notes
        textarea#new-task-notes(name='notes')
  div#signin-dialog
    p#signin-error-text(style='color: red; display: none')
    form#signin-form
        fieldset
            label(for='username') Username
            input#signin-username(type='text', name='username', maxlength=25, required)
            label(for='password1') Password
            input#signin-password1(type='password', name='password1', maxlength=20, required)
            label#signin-password2-label(style='display: none', for='password2') Confirm password
            input#signin-password2(style='display: none', type='password', name='password2', maxlength=20, required)
  
block body-javascripts
  script(src='/javascripts/monkeys.js')
      

