extends layout

block head-javascripts
  script(src='/javascripts/monkeys.js')

block content
  div.tasklist-div
    div(style='text-align: left')
      h2 This is my list!
    form(action='create', method='get')
      | New Task
      input.input-element(type='text', name='newTask')
      input.input-element(type='submit', value='Submit')
     ul
      each task in taskList
        li.task-list-item #{task.name}
  a(href='/') Home
      

