extends layout

block head-javascripts

block content
  div.ui-widget#task-list
  div#signin-dialog
    p#signin-error-text(style='color: red; display: none')
    form#signin-form
        fieldset
            label(for='username') Username
            input#signin-username(type='text', name='username', maxlength=25, required)
            label(for='password1') Password
            input#signin-password1(type='password', name='password1', maxlength=20, required)
            label#signin-password2-label(style='display: none', for='password2') Confirm password
            input#signin-password2(style='display: none', type='password', name='password2', maxlength=20, required)
  
block body-javascripts
  script(src='/javascripts/monkeys-signin.js')
  script(src='/javascripts/monkeys.js')
      

