extends layout

block head-javascripts

block content
  div.tasklist-div.ui-widget
    div(style='text-align: left')
      h2 This is my list!
    form(action='create', method='get')
      | New Task
      input.input-element(type='text', name='newTask')
      input.input-element(type='submit', value='Submit')
    div#tasks-accordion
      each task in taskList
        h3 #{task.name}
        div
          p #{task.notes}
  a(href='/') Home
  
block body-javascripts
  script(src='/javascripts/monkeys.js')
      

