extends layout

block head-javascripts

block content
    form#signup-form
        fieldset
            label(for='username') Username
            input#signup-username(type='text', name='username', maxlength=25, required)
            label(for='password1') Password
            input#signup-password1(type='password', name='password1', required)
            label(for='password2') Password (again)
            input#signup-password2(type='password', name='password2', required)

block body-javascripts
  script(src='/javascripts/monkeys-login.js')