body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  width: 100%;
  margin: 20px 0;
}

nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  width: 50%;
  float: left;
}

nav ul li a {
  display: block;
  width: 100%;
  text-align: center;
  background: #cdeb8e; /* Old browsers */
}

a {
  color: #00B7FF;
}


input {
  margin-bottom: 12px;
}

label {
  display: block;
}

#tasklist-div {
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid;
  border-color: darkblue;
  border-radius: 20px;
}

.tasklist-header {
  height: 40px;
  padding: 8px;
}

.tasklist-header h2 {
  height: 100%;
  display: inline-block;
  margin: inherit;
  font-family: trebuchet ms;
  color: darkblue;
}

.tasklist-header .signout-button {
  float: right;
  height: 100%;
}

.input-element {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.task-list-item{
  margin-bottom: 5px;
}

.task-header {
  overflow: hidden;
  display: inline-block;
}

.task-name {
  float: left;
  width: 75%;
  margin: 0;
  padding: 5px;
}

.task-due-date {
  float: right;
  text-align: center;
  width: 20%;
  background-color: rgb(19,255,5);
  color: black;
  padding: 5px;
  border: 2px;
  border-radius: 10px;
}

.task-due-date-almost-due {
  background-color: rgb(222,255,3);
}

.task-due-date-overdue {
  background-color: rgb(216,0,0);
  color: white;
}

.task-content {
  display: inline-block;
  width: inherit;
}

.task-notes-edit {
}

button.task-check-complete {
}

.no-close .ui-dialog-titlebar-close {
display: none;
}


