body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  margin-bottom: 12px;
}

label {
  display: block;
}

.tasklist-div {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 50px;
  padding-top: 0px;
  text-align: left;
}

.input-element {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.task-list-item{
  margin-bottom: 5px;
}

.task-header {
  height: auto;
  overflow: hidden;
  display: inline-block;
}

.task-name {
  float: left;
  width: 55%;
}

.task-due-date {
  float: left;
  text-align: right;
  width: 35%;
}

.task-notes-edit {
  width: 100%;
}

button.task-check-complete {
  float: right;
}


