body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tasklist-div {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding-bottom: 50px;
  padding-top: 0px;
  text-align: left;
}

.input-element {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.task-list-item{
  margin-bottom: 5px;
}

.task-header {
  height: 1em
}

.task-name {
  float: left;
}

.task-due-date {
  float: right;
}